.git
.gitignore
.idea
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.eggs
dist
build
*.egg
.pytest_cache
.coverage
htmlcov
docs
tests
README.md
requirement.md
Dockerfile
docker-compose.yml
.dockerignore
